useDynLib(SLIDE, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "rnorm", "runif")
export(create_structure_list)
export(generateModel1)
export(generateModel2)
export(slide)
export(slide_BCV)
export(slide_givenS)
export(solve_optim1_seq)
export(scores_test)
export(standardizeX)
export(var_explained)